#dtBasicExample tbody td{
    font-size: 13px;
    text-align: center;
}
#dtBasicExample thead tr{
    background-color: grey;
    text-align: center;
}

.col-centered{
    padding: 50px 0px 0px 0px;
}