
<div class="modal-wrapper">
        <div class="modal-header goal-header">
            <h1>{{title}}</h1>
            <button (click)="bsModalRef.hide()" class="cross-btn">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body goal-body">
            <div>
                <div class="master-container"> 
                        <div class="row sub-heading">
                            <div class="col-8">
                                <h2>Note</h2>
                            </div>
                            <div class="col-4">
                                <h2>Created By</h2>
                            </div>
                        </div>
                        <div class="row collaps-container custom-row" *ngFor="let notes of allNotes; let i = index">
                            <div class="col-8">
                                <span class="other-data" title="{{notes.note}}">{{notes.note}}</span>
                            </div> 
                            <div class="col-4">
                                <span class="other-data" title="{{notes.createdBy}}">{{notes.createdBy}}</span>
                            </div>  
                        </div>
                        <div class="row collaps-container custom-row" *ngIf="allNotes.length <= 0">
                            <div class="col-12 text-center">
                                <span class="other-data">No Notes Available</span>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer custom-footer">
                <input type="button" class="btn custom-primary" value="Cancel" name="Cancel" (click)="bsModalRef.hide()">
            </div>
        </div>
