.text-search-button{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    background: #0084d4;
    color: #fff;
    border:none;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    height: 32px;
}
.search-advisor{
    font-size: 12px;
}
.export{
    height: 35px;
    border:1px solid #ccc;
    background: #f1f1f1;
}
.reset-field{
   position: relative; 

   .clear-search{
        position: absolute;
        top: 13px;    
        right: 7px;
   }
}
.advisor-panel-search{
    .text-search-button{
        height: 37px;
    }
}

.request-alert{    
    position: fixed;
    /* top: 0; */
    bottom: 50px;
    left: 0;
    right: 0;
    width: 20%;
    margin: 0 auto;
}