<div class="master-container container-fluid">
        <div class="row">
            <div class="col-md-12">
                <tabset>
                    <tab heading="Category">
                        <div class="tab-container">
                           <app-category></app-category>
                        </div>
                    </tab>
                    <tab heading="Goal">
                        <div class="tab-container">
                            <app-goal></app-goal>
                        </div>
                    </tab>
                    <tab heading="Task">
                        <div class="tab-container">
                            <app-task></app-task>
                        </div>
                        
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
