.col-centered{
    padding: 50px 0px 0px 0px;
}

.gap{
    padding-right: 15px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.Save-button{
    padding-left:60px;
}

::ng-deep .dx-header-row {  
    color: #ffffff !important;  
    background-color: #6c757d !important;
 font-weight: bold !important;
}