<div class="modal-wrapper">
        <div class="modal-header goal-header">
            <h1>{{title}}</h1>
            <button (click)="bsModalRef.hide()" class="cross-btn">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body goal-body">
            <div class="col-12 margin-top5 confirm-txt">
                {{confirmTxt}}
            </div>
        </div>
        <div class="modal-footer custom-footer">
            <input type="button" class="btn cancel-btn" value="Cancel" name="Cancel" (click)="declineConfirmation()">
            <input type="button" class="btn custom-primary" value="Confirm" name="Add" (click)="sendConfirmation()">
        </div>
</div>