.signout-container{
    font-size: 16px;
    text-align: center;
    margin: 10rem 2rem;
    a {
        color: blue;
    }
    h2 {
        font-size: 17px;
    }
    h5{
        font-size: 12px;
    }
}